<nav class="navbar border-bottom border-body bg-black" data-bs-theme="dark">
  <div class="left-0 top-0 pl-5 text-lg">
    <a
      class="navbar-brand text-green-400"
      routerLink="/home"
      routerLinkActive="active"
      >Home</a
    >
    <a
      class="navbar-brand text-green-400"
      routerLink="/code-examples"
      routerLinkActive="active"
      >Code Examples</a
    >
    <a class="navbar-brand text-green-400" href="/work-experience"
      >Work experience</a
    >
    <a class="navbar-brand text-green-400" href="/certificates">Certficates</a>
    <a
      class="navbar-brand text-green-400"
      routerLink="/resume"
      routerLinkActive="active"
      >Resume</a
    >
    <a
      class="navbar-brand text-green-400 absolute right-0"
      target="_blank"
      href="https://www.linkedin.com/in/sumukh-paspuleti/"
      >Linkedin Profile</a
    >
  </div>
</nav>
