<app-header></app-header>
<html class="dark">
  <body class="bg-black text-green-400">
    <div class="flex items-center justify-center p-3 text-5xl">
      <h1>Welcome to my Portfolio Website</h1>
    </div>
    <div class="#container p-10">
      <div class="grid grid-cols-3 gap-4">
        <div id="section1" class="">
          <div class="card">
            <img
              src="../assets/react-logo.png"
              class="card-img-top size-50"
            />
            <div class="card-body p-4">
              <h4 class="fw-bold mb-4">GTWrapped App</h4>
              <p class="text-muted mb-4">
                <i class="far fa-clock" aria-hidden="true"></i> 2024
              </p>
              <p class="mb-0">
                I led a team of 12 computer science students to develop a mobile
                application called GTWrapped. I helped manage the team’s
                communications through a Discord channel and used the Figma
                service to design the app’s different screens.
              </p>
            </div>
          </div>
        </div>
        <div id="section2" class="">
          <div class="card">
            <img
              src="../assets/kotlin-logo.png"
              class="card-img-top"
              alt="Responsive image"
            />
            <div class="card-body p-4">
              <h4 class="fw-bold mb-4">MyMoneyTracker App</h4>
              <p class="text-muted mb-4">
                <i class="far fa-clock" aria-hidden="true"></i> February 2024-
                Current
              </p>
              <p class="mb-0">
                I created a mobile application in the Kotlin programming
                language to track the user’s expenses and displayed said
                information using pie charts and bar graphs for a better user
                experience. I also provided documentation for different methods
                within the codebase with comments to better explain their
                functionality
              </p>
            </div>
          </div>
        </div>
        <div id="section3" class="">
          <div class="card">
            <img
              src="../assets/android-studio-logo.png"
              class="card-img-top"
              alt="Responsive image"
            />
            <div class="card-body p-4">
              <h4 class="fw-bold mb-4">HealthTracker App</h4>
              <p class="text-muted mb-4">
                <i class="far fa-clock" aria-hidden="true"></i> May 2024- August
                2024
              </p>
              <p class="mb-0">
                I led a team of 6 developers to develop a mobile application
                that tracks the user’s workouts and the community’s workout
                plans. I also programed the mobile application in Java and XML
                using MVVM architecture through an Agile-Scrum hybrid process. I
                configured the application to use the Firebase Realtime Database
                to store useful user information. I also tested functionality of
                the application using JUnit tests written in Java
              </p>
            </div>
          </div>
        </div>
        <div id="section4" class="">
          <div class="card">
            <img
              src="../assets/nextjs-logo.jpeg"
              class="card-img-top"
              alt="Responsive image"
            />
            <div class="card-body p-4">
              <h4 class="fw-bold mb-4">Next.js Dashboard Website</h4>
              <p class="text-muted mb-4">
                <i class="far fa-clock" aria-hidden="true"></i> April 2024-
                Current
              </p>
              <p class="mb-0">
                I programmed a dashboard for a finance website using the Next.js
                framework. I created user authentication using the NextAuth.js
                library and form validation using the Zod library.
              </p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card">
            <img
              src="../assets/vercel-logo.png"
              class="card-img-top"
              alt="Responsive image"
            />
            <div class="card-body p-4">
              <h4 class="fw-bold mb-4">Weather Now Website</h4>
              <p class="text-muted mb-4">
                <i class="far fa-clock" aria-hidden="true"></i> April 2024-
                Current
              </p>
              <p class="mb-0">
                I built a Next.js weather website that uses the OpenWeatherMap
                API to fetch recent weather information and display said data
                with widgets. I deployed the website on Vercel to test the
                website’s features in a live production environment.
              </p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card">
            <img
              src="../assets/rpg-maker-vx-logo.jpg"
              class="card-img-top"
              alt="Responsive image"
            />
            <div class="card-body p-4">
              <h4 class="fw-bold mb-4">A Hero's Journey RPG</h4>
              <p class="text-muted mb-4">
                <i class="far fa-clock" aria-hidden="true"></i> May 2024- May
                2024
              </p>
              <p class="mb-0">
                I made a small rpg game with RPG Maker VX Ace. I used scripts
                written in Ruby to attain custom functionality. I also created
                non-playable characters and built the game world.
              </p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card">
            <img
              src="../assets/scratch-logo.jpg"
              class="card-img-top"
              alt="Responsive image"
            />
            <div class="card-body p-4">
              <h4 class="fw-bold mb-4">Avery's Midnight Adventure</h4>
              <p class="text-muted mb-4">
                <i class="far fa-clock" aria-hidden="true"></i> February 2024-
                February 2024
              </p>
              <p class="mb-0">
                This is a small platformer game that is built with Scratch. I
                built different game mechanics into the game using feature
                provided by the Scratch game engine.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
