<div class="bg-black">
  <body class="bg-black text-green-400">
    <h1 class="text-5xl pb-5">Work Experience</h1>
    <h2 class="text-3xl">CS 2200 Teaching Assistant</h2>
    <h3 class="text-2xl">January 2025-Present</h3>
    <p class="pb-5">
      I worked as a teaching assistant, taught undergraduate students various
      computer science topics, and graded several homework assignments. I also
      lead my office hours, during which students ask for help with homework
      problems or coding projects. I also work to help contribute to
      documentation on the various software used in the class that other
      teaching assistants specifically developed. Likewise, I help make sure
      that the course CS 2200 runs smoothly by working with the professor and
      other teaching assistants.
    </p>
    <h2 class="text-3xl">Service Technician</h2>
    <h3 class="text-2xl">April 2024-Present</h3>
    <p>
      I worked as a service technician in Wreck Techs, a part of Georgia Tech’s
      helpdesk hotline for technology issues. As a part of my role, I help set
      up accounts for Georgia Tech students and help diagnose problems with
      access points around campus to help ensure that students can access the
      internet without issue. I also ensure that the ethernet cables are
      correctly connected to the students’ rooms to ensure that all the students
      have access to the wired network on campus.
    </p>
  </body>
</div>
