<body class="bg-[#0B0C10] text-[#66FCF1]">
  <!-- container -->
  <div class="container mx-auto px-6">
    <h1 class="text-4xl font-bold text-center mb-8">Welcome to my Portfolio</h1>

    <!-- ================= Group 1 ================= -->
    <h2 class="text-2xl font-semibold mb-4">
      Backend & Infrastructure Projects
    </h2>
    <div class="grid grid-cols-3 gap-4 mb-12">
      <div id="section1">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/net-logo.png"
            class="card-img-top size-50"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Payment API with Validation Engine</h4>
            <p>
              I designed and implemented a secure payment API that includes
              real-time input validation and error handling. The system ensures
              reliable transaction processing while providing detailed feedback
              to users for a smoother payment experience.
            </p>
          </div>
        </div>
      </div>
      <div id="section2">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/fabric-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Voting Ledger Fabric Application</h4>
            <p>
              I developed a blockchain-based voting system using Node.js and
              Hyperledger Fabric. The application provides transparent,
              tamper-proof vote recording, while its user-friendly interface
              improves accessibility for both administrators and voters.
            </p>
          </div>
        </div>
      </div>
      <div id="section3">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/apache-tomcat-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Apache Tomcat Web Application Server</h4>
            <p>
              I configured and deployed web applications on Apache Tomcat,
              focusing on performance optimization, scalability, and security.
              This work included integrating APIs and ensuring smooth
              communication between back-end services and client applications.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ================= Group 2 ================= -->
    <h2 class="text-2xl font-semibold mb-4">Mobile App Projects</h2>
    <div class="grid grid-cols-3 gap-4 mb-12">
      <div id="section4">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/swift-logo.png"
            class="card-img-top size-50"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">WordleWeek IOS App</h4>
            <p>
              I created a small IOS app with Swift that allows users to play
              Wordle. The app also uses the SwiftUI Color API to dynamically
              update the wordle grid.
            </p>
          </div>
        </div>
      </div>
      <div id="section5">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/kotlin-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">MyMoneyTracker App</h4>
            <p>
              I created a Kotlin mobile app to track expenses and display data
              with pie charts and bar graphs for better UX. I also provided
              in-code documentation for clarity.
            </p>
          </div>
        </div>
      </div>
      <div id="section6">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/android-studio-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">HealthTracker App</h4>
            <p>
              I led a team of 6 developers to create a Java/Android app that
              tracks workouts. It uses Firebase Realtime Database for storage,
              follows MVVM architecture, and was tested with JUnit.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ================= Group 3 ================= -->
    <h2 class="text-2xl font-semibold mb-4">Web & Data Science Projects</h2>
    <div class="grid grid-cols-3 gap-4">
      <div id="section7">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/nextjs-logo.jpeg"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Next.js Dashboard Website</h4>
            <p>
              I developed a finance dashboard with Next.js, integrating
              NextAuth.js for authentication and Zod for input validation.
            </p>
          </div>
        </div>
      </div>
      <div id="section8">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/react-router-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Weather Now Website</h4>
            <p>
              I built a React app using OpenWeatherMap API and deployed it on
              Vercel to display live weather with widgets.
            </p>
          </div>
        </div>
      </div>
      <div id="section9">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/python-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Healthcare Policy Tracker</h4>
            <p>
              I used ARIMA and Gaussian Processes to analyze the impacts of
              healthcare laws over time, creating an interactive policy impact
              visualization tool.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ================= Group 4 ================= -->
    <h2 class="text-2xl font-semibold mb-4">Miscellaneous Projects</h2>
    <div class="grid grid-cols-3 gap-4">
      <div id="section10">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/nutch-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">
              Nutch Web Crawler with Memcached Server
            </h4>
            <p>
              I implemented Apache Nutch with Memcached to build a scalable web
              crawler that caches frequently accessed content for better
              performance.
            </p>
          </div>
        </div>
      </div>
      <div id="section11">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/mobisim-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">GT MobiSim Mobile Trace Generation</h4>
            <p>
              I worked on a mobile trace simulator to evaluate network traffic
              flow patterns by creating realistic synthetic traces, helping
              model wireless mobility with scalable statistical methods.
            </p>
          </div>
        </div>
      </div>
      <div id="section12">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/carla-simulator-logo.jpg"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">CARLA Autopilot AI Model</h4>
            <p>
              I trained an autopilot model in the CARLA simulation environment
              that leveraged reinforcement learning to plan driving maneuvers
              under varying conditions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
