<body class="bg-[#0B0C10] text-[#66FCF1]">
  <h1>Welcome to my Portfolio Website</h1>
  <!-- container -->
  <div class="#container">
    <div class="grid grid-cols-3 gap-4">
      <div id="section1" class="">
        <div class="card flex flex-col h-full bg-white" items-stretch h-fill>
          <img
            src="/logos/swift-logo.png"
            class="card-img-top size-50"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">WordleWeek IOS App</h4>
            <p class="mb-0">
              I created a small IOS app with the Swift programming lanugae to
              allow users to play wordle. The app also uses the SwiftUI Color
              API to dynamically update the wordle grid.
            </p>
          </div>
        </div>
      </div>
      <div id="section2" class="auto-rows-max">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/kotlin-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">MyMoneyTracker App</h4>
            <p class="mb-0">
              I created a mobile application in the Kotlin programming language
              to track the user’s expenses and displayed said information using
              pie charts and bar graphs for a better user experience. I also
              provided documentation for different methods within the codebase
              with comments to better explain their functionality
            </p>
          </div>
        </div>
      </div>
      <div id="section3" class="">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/android-studio-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">HealthTracker App</h4>
            <p class="mb-0">
              I led a team of 6 developers to develop a mobile application that
              tracks the user’s workouts and the community’s workout plans. I
              also programed the mobile application in Java and XML using MVVM
              architecture through an Agile-Scrum hybrid process. I configured
              the application to use the Firebase Realtime Database to store
              useful user information. I also tested functionality of the
              application using JUnit tests written in Java
            </p>
          </div>
        </div>
      </div>
      <div id="section4" class="">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/nextjs-logo.jpeg"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Next.js Dashboard Website</h4>
            <p class="mb-0">
              I programmed a dashboard for a finance website using the Next.js
              framework. I created user authentication using the NextAuth.js
              library and form validation using the Zod library.
            </p>
          </div>
        </div>
      </div>
      <div id="section5" class="">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/react-router-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Weather Now Website</h4>
            <p class="mb-0">
              I built a React weather website that uses the OpenWeatherMap API
              to fetch recent weather information and display said data with
              widgets. I deployed the website on Vercel to test the website’s
              features in a live production environment.
            </p>
          </div>
        </div>
      </div>
      <div id="section6" class="">
        <div class="card flex flex-col h-full bg-white">
          <img
            src="/logos/python-logo.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">
              Healthcare Impact Policy Tracker Interactive Diagram
            </h4>
            <p class="mb-0">
              I used a interrupted time series analysis with the Autoregressive
              integrated moving average statistical model to determine the
              impact of each policy by comparing the data points before and
              after an intervention time, which is the year each law was passed.
              I also used a Gaussian Processes machine learning model to
              estimate the effects of the specified policy over ten years in the
              future. This approach helps model the long-term effects of each
              policy.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
